/* UNIVERSAL SELECTOR */

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body, textarea::placeholder {
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
  background-color: #f9f9f9;
  scroll-behavior: smooth;
}


/* ================ TYPOGRAPHY ====================*/


h1,h2,h3,h4,h5,h6 {
  font-weight: 300;
  line-height: normal;
}

h1 {
  font-size: 3em;
}

h2 {
  color: #353535;
  font-size: 2em;
}

p {
  color: #757575;
  font-size: 14px;
  font-weight: normal;
  line-height: 24px;
}


/* ================   GENERAL  ====================*/

/* For smooth scrolling */
html {
  -webkit-font-smoothing: antialiased; 
}

/* Edit scrollbar on the right side */

::-webkit-scrollbar{
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  cursor: pointer;
  background: #20202091;
}

a {
  color: #202020;
  text-decoration: none !important;
}

a,
input, button, textarea,
.form-control {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

a:hover, a:active, a:focus {
  color: #29ca8e;
  outline: none;
}

li {
  list-style-type: none;
}

/* ================   BUTTONS  ====================*/

.btn {
  background: #29ca8e;
  border: 0;
  border-radius: 50px;
  color: #ffffff;
  font-size: 16px;
  font-weight: normal;
  padding: 12px 30px;
  transition: 0.5s 0.2s;
  height: 50px;
  display: inline-block;
}

.btn:hover,
.btn:focus {
  background: #202020;
  color: #ffffff;
}

/* ================ PRE LOADER ====================*/

/* ==============================================================================

Note ini hanya sebuah Loader yang dibuat dengan menggunakan CSS tanpa Javascript,
sehingga lama waktu loadernya tidak sesuai dengan lama waktu loading page.

=================================================================================*/

section.spinner-container {
  position: absolute;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  pointer-events: none;
  background-color: #fff;
  animation: fade-out 3s ease-out forwards;
  z-index: 600;
}

.spinner {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 80px;
}

.spinner div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.5s cubic-bezier(0.5, 0, 0.5, 1) forwards;
  animation-iteration-count: 2;
  border-color: rgb(77, 77, 77) transparent transparent transparent;
}

.spinner div:nth-child(1) {
  animation-delay: -0.45s;
}

.spinner div:nth-child(2) {
  animation-delay: -0.3s;
}

.spinner div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }

  90% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
    opacity: 1;
    pointer-events: none;
  }

  100% {
    transform: rotate(360deg);
    opacity: 1;
    pointer-events: none;
  }
}


/* ====================== HEADER ==================== */

header {
  width: 100%;
  height: 100vh;
  position: relative;
  background: url('../img/home-bg.jpg') no-repeat center center;
  background-size: cover;
  vertical-align: center;
}

.overlay {
  background: #536976;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #292E49, #536976);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #292E49, #536976); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  opacity: 0.9;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.header-container {
  max-width: 50%;
  margin: 0 auto;
  text-align: center;
}

/* NAVBAR */

.nav-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-around;
  background-color: #fff;
  z-index: 100;
  line-height: 70px;
  box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
}

.navbar-logo {
  font-size: 25px;
  padding-left: 15px;
}

.navbar-logo:hover {
  color: #202020;
}

.nav-ul {
  display: flex;
  justify-content: space-between;
}

.nav-ul > li {
  display: inline-block;
  padding: 0 22px;
  color: #575757;
  font-weight: normal;
  
}

.toggle-menu {
  display: none;
  font-size: 1.5em;
}

.navbar-admin {
  padding: 0 22px;
}


@media(max-width: 1000px) {
  .navbar-admin {
    display: none;
  }
}

@media(max-width: 768px) {
  nav {
    display: flex;
    justify-content: space-between;
  }

  .navbar-logo {
    padding-left: 10%;
  }
  
  .navbar-admin {
    display: none;
  }

  .nav-ul {
    display: none;
  }

  .toggle-menu {
    display: inline-block;
    padding-right: 10%;
  }
}

/* JUMBOTRON */

.jumbotron {
  z-index: 5;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.jumbotron h1 {
  margin-top: 10px;
  margin-bottom: 40px;
}

.jumbotron h3 {
  color: #f0f0f0;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 4px;
  text-transform: uppercase;
  margin: 10px 0;
}

.jumbotron-button {
  position: relative;
  right: 30px;
  z-index: 10;
  font-size: 0.8em;
  cursor: pointer;
}

.jumbotron-email {
  border-color: #f0f0f0;
  display: inline-block;
  vertical-align: top;
  border-radius: 50px;
  box-shadow: none;
  height: 50px;
  margin-right: 0.5em;
  padding-left: 15px;
  width: 300px;
  outline: none;
  border: none;
  position: relative;
  left: 30px;
  z-index: 9;
}

.jumbotron-email::placeholder {
  color: #b6b6b6;
  padding-left: 0px;
}

.jumbotron-email:focus {
  padding-left: 30px;
  color: #555555;
}

@media(max-width: 1000px) {
  
  .jumbotron {
    min-width: 90%;
  }

  .jumbotron-email {
    width: 50%;
  }

  .jumbotron-button {
    width: 20%;
  }
}

@media(max-width: 768px) {
  .jumbotron {
    min-width: 80%;
  }

  .jumbotron h1 {
    font-size: 2em;
  }

  .jumbotron h3 {
    font-size: 9px;
  }

  .jumbotron-email {
    width: 90%;
    left: 0;
    margin: 0;
    padding: 0;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .jumbotron-email::placeholder {
    padding-left: 0;
    text-align: center;
  }

  .jumbotron-email:focus {
    text-align: center;
    padding-left: 0;
  }

  .jumbotron-button {
    width: 90%;
    right: 0;
  }
}


/* FEATURES */

.features {
  width: 100%;
  background-color: #fff;
  padding: 80px 0;
  
}

.features-wrapper {
  max-width: 90%;
  margin: 0 auto;
  text-align: justify;
}

.features-wrapper h3 {
  padding-top: 20px;
  font-weight: normal;
}

.features-wrapper h4 {
  padding-bottom: 5px;
  margin-bottom: 20px;
  display: inline-block;
  border-bottom: 3px solid rgb(96, 214, 96);
  font-size: 1.7em;
  font-weight: 400;
}

.features-wrapper p {
  padding-top: 10px;
}

.text {
  width: 47%;
}

.feature {
  position: relative;
  margin: 60px 0 20px 0;
}

.feature img {
  position: absolute;
  top: 0;
  height: 100%; 
}

.responsive-img {
  right: 10%;
}

.mobile {
  margin-left: 53%;
}

.mobile-img {
  left: 10%;
}

.support-img {
  right: 10%;
}

@media(max-width: 1000px) {
  .text {
    width: 65%;
  }

  .features-wrapper {
    width: 100%;
  }

  .feature img {
    height: 80%;
    top: 3%;
    right: 0%;
  }
  
  .mobile {
    margin-left: 0%;
  }

  .mobile-img {
    position: absolute;
    left: 75%;
  }

}

@media(max-width: 768px) {
  .text {
    width: 100%;
  }

  .feature img{
    display: none;
  }

}



/* CONTACT */
/* .contact-form {
  margin-top: 100px;
  margin-bottom: 100px;
  width: 100%;
}

.contact-container {
  margin: 0 auto;
  text-align: center;
  max-width: 100%;
  padding: 10px;
}

.contact-container > form {
  width: 100%;
  padding: 0 10%;
}

.contact-container h2 {
  margin-bottom: 50px;
  font-size: 3em;
  color: #353535;
}

.contact-name {
  border: none;
  box-shadow: 0px 2px #b6b6b6;
  height: 40px;
  width: 350px;
  margin-left: 0;
  margin-right: 10px;
}

.contact-email {
  border: none;
  box-shadow: 0px 2px #b6b6b6;
  height: 40px;
  width: 350px;
  margin-right: 10px;;
}

.contact-button {
  width: 300px;
}

.contact-message {
  padding-top: 15px;
  border: none;
  box-shadow: 0px 2px #b6b6b6;
  height: 250px;
  width: 100%;
  padding: 10px;
} */

.contact-form {
  width: 100%;
  height: auto;
  overflow: hidden;
  text-align: center;
}

.contact-container {
  width: 90%;
  margin: 0 auto;
}

.contact-container > h2 {
  font-size: 2.5em;
  margin-bottom: 70px;
}

.contact-container > form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.contact-container > form > input,
.contact-container > form > button {
  flex-grow: 1;
  flex-basis: 30%;
  padding: 0 10px;
  margin: 0 8px;
  outline: none;
  border: none;
  margin-bottom: 50px;
}


.contact-container > form > textarea {
  flex-grow: 1;
  outline: none;
  border: none;
  padding: 0 10px;
  margin: 0 8px;
  height: 200px;
  margin-bottom: 30px;
}

.contact-container > form > textarea::placeholder {
  font: 400 13.3333px Arial;
}

.contact-container > form > input,
.contact-container > form > button,
.contact-container > form > textarea {
  border-bottom: solid 3px #20202017;
}

.contact-container > form > input:focus,
.contact-container > form > button:focus,
.contact-container > form > textarea:focus {
  border-bottom: solid 3px #202020;
}

.contact-button {
  background: #202020;
  line-height: 50px;
  font-size: .8em;
}

.contact-button:hover,
.contact-button:focus {
  background: #29ca8e;
}

@media(max-width: 1000px) {
  .contact-container > form > input {
    flex-basis: 45%;
    height: 50px;
  }

  .contact-container > form > button {
    flex-basis: 100%;
  }
}

@media(max-width: 768px) {
  .contact-container > form > input {
    flex-basis: 100%;
    height: 50px;
  }

  .contact-container > form > textarea {
    height: 150px;
    margin-bottom: 30px;
  }
}


/* ABOUT */
.about {
  padding: 100px 0px;
}

.about-container {
  margin: 15px 0px;
}

.about-container h1 {
  margin-top: 20px; 
  margin-bottom: 10px;
  padding-bottom: 40px;
  text-align: center;
}

.team {
  width: 90%;
  margin: 0 auto;
  display: flex;
}

.team img {
  width: 100%;
}

.team-info {
  padding: 40px;
}

.team-info h3 {
  margin-top: 5px;
}

.team-info p {
  margin-top: 10px; 
}

@media(max-width: 768px) {
  .about-container h1 {
    font-size: 2.3em;
  }

  .team {
    flex-wrap: wrap;
  }

  .team2 {
    display: flex; 
    flex-direction: column-reverse;
  }
}

/* TESTIMONIAL */
.testimonial {
  background: white;
  margin: 0 auto;
  padding: 60px 0px;
}

.testimonial-container {
  margin-right: auto;
  margin-left: auto;
  display: flex;
  width: 90%;
}

.testimonial-container2 {
  margin-right: auto;
  margin-left: auto;
  display: flex;
  width: 90%;
  flex-direction: row-reverse;
}

.testimonial-left {
  background-size: cover;
  width: 50%;
  height: auto;
  box-sizing: border-box;
}

.testimonial-right {
  color: white;
  background: #202020;
  padding: 60px;
}

.testimonial-right h3 {
  color: #d9d9d9;
  font-style: italic;
  margin-top: 5px;
  font-size: 24px;
}

.testimonial-item {
  margin: 20px 0px;
  display: flex;
}

.tst-image {
  border: 3px solid #ffffff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  margin-right: 10px;
  color: #d9d9d9;
  display: inline-block;
  vertical-align: top;
}

.testimonial-item h4 {
  color: #d9d9d9;
  display: inline-block;
  line-height: 60px;
  padding-left: 10px;
  padding: 0px auto;
}

@media(max-width: 990px) {
  .testimonial-container {
    flex-wrap: wrap;
  }

  .testimonial-container2 {
    flex-direction: column;
  }

  .testimonial-left {
  width: 100%;
  height: auto;
  }
}

/* PRICING */

.pricing {
  padding: 60px 20px;
}
.header-pricing {
  text-align: center;
  color: slategray;
  padding-top: 30px;
  font-weight: normal;
}

.price-list {
  border-top:  rgb(235, 235, 235) 1px solid;
  border-bottom:  rgb(235, 235, 235) 1px solid;
  height: 250px;
}
.price {
  list-style: none;
  margin: 0px;
  padding: 60px 0px;
  text-align: justify;
  display: flex;
  flex-direction: row;
}
.price li {
  color: white;
  height: 420px;
  line-height: 80px;
  background-color: #fff;
  margin: 2px;
  border: none;
  padding: 15px 30px;
  flex: auto;
  width: 25%;
}
.price li:hover {
  box-shadow: 0 0 10px #8f8f8f;
}
.price li span {
  color: slategray;
  font-size: 18px;
  font-weight: bold;
}
.price-list p {
  padding: 7px 0;
}
.register {
  padding: 12px 20px;
  color: #fff;
  background-color: rgb(96, 214, 96);
  border-radius: 15px;
  border: none;
  outline: none;
  float: inline-end;
  margin: 17px 0;
}
.register:hover {
  background-color: darkgreen;
  cursor: pointer;
  transition: 0.7s;
}


@media (max-width: 1100px) {
  .pricing {
    padding: 30px; 10px;
  }
  .price {
    flex-wrap: wrap;
    padding: 20px 10px;
  }
  .price li {
    width: 50%;
  }
  .price li span {
    text-align: center;
  }
  .price-title {
    text-align: center !important; 
  }
}

@media (max-width: 670px) {
  .pricing {
    padding: 0px;
    margin: 0;
  }
  .header-pricing {
    font-size: 10px;
  }
  .price {
    flex-direction:column;
    padding: 20px 10px;
  }
  
  .price li {
    margin :0 auto;
    margin-bottom: 5px;
    height: 500px;
    width: 90%;
  }
  .register {
    width: 100%;
  }

  .price li span {
    text-align: center;
  }

  .price-title {
    text-align: center !important;
  }
}

/* FOOTER */
footer {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
  background-color: #202020;
}

.footer-container {
  width: 90%;
  margin: 0 auto;
  padding: 0 20px;
}

.footer-content {
  display: flex;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  padding: 30px 0;
}

.footer-content > ul {
  flex-grow: 1;
  flex-basis: 25%;
  padding: 5px 10px;
}

.footer-content > ul {
  margin-left: 10%;
}

.moto {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  flex-grow: 1;
  flex-basis: 50%;
}

.moto > h2 {
  font-size: 2em;
  color: white;
  margin-bottom: 10px;
}

.moto > p {
  font-size: 1em;
}

.footer-content > ul > li > a {
  color: #b6b6b6;
  display: inline-block;
  font-weight: thin;
  font-size: .8em;
  margin-bottom: 10px;
}

.footer-content > ul > li > a:hover {
  color: #29ca8e;
}

.footer-content > ul > li > a.bold {
  font-weight: bold;
  font-size: .9em;
  color: white;
  margin-bottom: 15px;
  cursor: default;
}

.bold:hover {
  color: rgb(255, 255, 255);
}

.footer-copy{
  float: left;
  font-weight: bold;
  margin-bottom: 30px;
}

.footer-copy > p {
  line-height: 50px;
  color: white;
}

.footer-sosmed{
  float: right;
  font-size: 1.3em;
}

.footer-ul {
  display: flex;
}

.footer-ul li{
  line-height: 50px;
  padding-left: 20px;
  padding-right: 20px;
}

.icon-color {
  color: rgb(250, 250, 250);
}

@media(max-width: 768px) {
  footer {
    height: auto;
    overflow: hidden;
  }

  .footer-content {
    display: flex;
    flex-wrap: wrap;
  }

  .footer-content > .moto {
    flex-basis: 100%;
    text-align: center;
    margin-bottom: 30px;
  }

  .footer-content > ul {
    flex-basis: 20%;
  }

  .footer-copy {
    float: none;
    width: 100%;
    text-align: center;
    margin-top: 0;
  }

  .footer-ul {
    float: none;
    text-align: left;
  }
  
}
