/* UNIVERSAL SELECTOR */

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
  background-color: #f9f9f9;
  scroll-behavior: smooth;
}


/* ================ TYPOGRAPHY ====================*/


h1,h2,h3,h4,h5,h6 {
  font-weight: 300;
  line-height: normal;
}

h1 {
  font-size: 3em;
}

h2 {
  color: #353535;
  font-size: 2em;
}

p {
  color: #757575;
  font-size: 14px;
  font-weight: normal;
  line-height: 24px;
}


/* ================   GENERAL  ====================*/

/* For smooth scrolling */
html {
  -webkit-font-smoothing: antialiased; 
}

/* Edit scrollbar on the right side */

::-webkit-scrollbar{
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  cursor: pointer;
  background: #202020;
}

a {
  color: #202020;
  text-decoration: none !important;
}

a,
input, button,
.form-control {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

a:hover, a:active, a:focus {
  color: #29ca8e;
  outline: none;
}

li {
  list-style-type: none;
}

/* ================   BUTTONS  ====================*/

.btn {
  background: #29ca8e;
  border: 0;
  border-radius: 50px;
  color: #ffffff;
  font-size: 16px;
  font-weight: normal;
  padding: 12px 30px;
  transition: 0.5s 0.2s;
  height: 50px;
  display: inline-block;
}

.btn:hover,
.btn:focus {
  background: #202020;
  color: #ffffff;
}

/* ================ PRE LOADER ====================*/

/* ==============================================================================

Note ini hanya sebuah Loader yang dibuat dengan menggunakan CSS tanpa Javascript,
sehingga lama waktu loadernya tidak sesuai dengan lama waktu loading page.

=================================================================================*/

section.spinner-container {
  position: absolute;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  pointer-events: none;
  background-color: #fff;
  animation: fade-out 3s ease-out forwards;
  z-index: 600;
}

.spinner {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 80px;
}

.spinner div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.5s cubic-bezier(0.5, 0, 0.5, 1) forwards;
  animation-iteration-count: 2;
  border-color: rgb(77, 77, 77) transparent transparent transparent;
}

.spinner div:nth-child(1) {
  animation-delay: -0.45s;
}

.spinner div:nth-child(2) {
  animation-delay: -0.3s;
}

.spinner div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }

  90% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
    opacity: 1;
    pointer-events: none;
  }

  100% {
    transform: rotate(360deg);
    opacity: 1;
    pointer-events: none;
  }
}


/* ====================== HEADER ==================== */

header {
  width: 100%;
  height: 100vh;
  position: relative;
  background: url('../img/home-bg.jpg') no-repeat center center;
  background-size: cover;
  vertical-align: center;
}

.overlay {
  background: #536976;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #292E49, #536976);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #292E49, #536976); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  opacity: 0.9;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.header-container {
  max-width: 50%;
  margin: 0 auto;
  text-align: center;
}

/* NAVBAR */

.nav-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-around;
  background-color: #fff;
  z-index: 100;
  line-height: 70px;
  box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
}

.navbar-logo {
  font-size: 25px;
  padding-left: 15px;
}

.navbar-logo:hover {
  color: #202020;
}

.nav-ul {
  display: flex;
  justify-content: space-between;
}

.nav-ul > li {
  display: inline-block;
  padding: 0 22px;
  color: #575757;
  font-weight: normal;
  
}

.toggle-menu {
  display: none;
  font-size: 1.5em;
}

.navbar-admin {
  padding: 0 22px;
}


@media(max-width: 1000px) {
  .navbar-admin {
    display: none;
  }
}

@media(max-width: 768px) {
  nav {
    display: flex;
    justify-content: space-between;
  }

  .navbar-logo {
    padding-left: 10%;
  }
  
  .navbar-admin {
    display: none;
  }

  .nav-ul {
    display: none;
  }

  .toggle-menu {
    display: inline-block;
    padding-right: 10%;
  }
}

/* JUMBOTRON */

.jumbotron {
  z-index: 5;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.jumbotron h1 {
  margin-top: 10px;
  margin-bottom: 40px;
}

.jumbotron h3 {
  color: #f0f0f0;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 4px;
  text-transform: uppercase;
  margin: 10px 0;
}

.jumbotron-button {
  position: relative;
  right: 30px;
  z-index: 10;
  font-size: 0.8em;
  cursor: pointer;
}

.jumbotron-email {
  border-color: #f0f0f0;
  display: inline-block;
  vertical-align: top;
  border-radius: 50px;
  box-shadow: none;
  height: 50px;
  margin-right: 0.5em;
  padding-left: 15px;
  width: 300px;
  outline: none;
  border: none;
  position: relative;
  left: 30px;
  z-index: 9;
}

.jumbotron-email::placeholder {
  color: #b6b6b6;
  padding-left: 0px;
}

.jumbotron-email:focus {
  padding-left: 30px;
  color: #555555;
}

@media(max-width: 1000px) {
  
  .jumbotron {
    min-width: 90%;
  }

  .jumbotron-email {
    width: 50%;
  }

  .jumbotron-button {
    width: 20%;
  }
}

@media(max-width: 768px) {
  .jumbotron {
    min-width: 80%;
  }

  .jumbotron h1 {
    font-size: 2em;
  }

  .jumbotron h3 {
    font-size: 9px;
  }

  .jumbotron-email {
    width: 90%;
    left: 0;
    margin: 0;
    padding: 0;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .jumbotron-email::placeholder {
    padding-left: 0;
    text-align: center;
  }

  .jumbotron-email:focus {
    text-align: center;
    padding-left: 0;
  }

  .jumbotron-button {
    width: 90%;
    right: 0;
  }
}


/* FEATURES */

.features {
  width: 100%;
  background-color: #fff;
  padding: 80px 0;
  
}

.features-wrapper {
  max-width: 90%;
  margin: 0 auto;
  text-align: justify;
}

.features-wrapper h3 {
  padding-top: 20px;
  font-weight: normal;
}

.features-wrapper h4 {
  padding-bottom: 5px;
  margin-bottom: 20px;
  display: inline-block;
  border-bottom: 3px solid rgb(96, 214, 96);
}

.features-wrapper p {
  padding-top: 10px;
}

.text {
  width: 47%;
}

.feature {
  position: relative;
  margin: 60px 0 20px 0;
}

.feature img {
  position: absolute;
  top: 0;
  height: 100%; 
}

.responsive-img {
  right: 10%;
}

.mobile {
  margin-left: 53%;
}

.mobile-img {
  left: 10%;
}

.support-img {
  right: 10%;
}

@media(max-width: 1000px) {
  .text {
    width: 65%;
  }

  .features-wrapper {
    width: 100%;
  }

  .feature img {
    height: 80%;
    top: 3%;
    right: 0%;
  }
  
  .mobile {
    margin-left: 0%;
  }

  .mobile-img {
    position: absolute;
    left: 75%;
  }

}

@media(max-width: 768px) {
  .text {
    width: 100%;
  }

  .feature img{
    display: none;
  }

}



/* CONTACT */
.contact-form {
  margin-top: 100px;
  margin-bottom: 100px;
}

.contact-container {
  margin: 0 auto;
  text-align: center;
}

.contact-container h2 {
  margin-bottom: 50px;
}

.contact-name {
  border: none;
  box-shadow: 0px 2px #b6b6b6;
  height: 40px;
  width: 350px;
}

.contact-email {
  border: none;
  box-shadow: 0px 2px #b6b6b6;
  height: 40px;
  width: 350px;
}

.contact-button {
  width: 300px;
}

.contact-message {
  padding-top: 15px;
  border: none;
  box-shadow: 0px 2px #b6b6b6;
  height: 250px;
  width: 1000px;
}

/* PRICING */
.pricing {
  padding: 60px 20px;
}
.header-pricing {
  text-align: center;
  color: slategray;
  padding-top: 30px;
  font-weight: normal;
}


.price {
  list-style: none;
  margin: 0px;
  padding: 60px 0px;
  text-align: justify;
}
.price-list {
  border-top:  rgb(235, 235, 235) 1px solid;
  border-bottom:  rgb(235, 235, 235) 1px solid;
  height: 250px;
}
.price li {
  color: white;
  height: 420px;
  line-height: 80px;
  background-color: #fff;
  margin: 2px;
  border: none;
  padding: 15px 40px;
}
.price li:hover {
  box-shadow: 0 0 10px #8f8f8f;
}
.price li span {
  color: slategray;
  font-size: 18px;
  font-weight: bold;
}
.price-list p {
  padding: 7px 0;
}
.register {
  padding: 12px 20px;
  color: #fff;
  background-color: rgb(96, 214, 96);
  border-radius: 15px;
  border: none;
  outline: none;
  float: inline-end;
  margin: 17px 0;
}
.register:hover {
  background-color: darkgreen;
  cursor: pointer;
  transition: 0.7s;
}


.price {
  display: flex;
  flex-direction: row;
}
.price li {
  flex: auto;
  width: 25%;
}

@media (max-width: 1100px) {
  .pricing {
    padding: 10px 30px;
  }
  .price {
    flex-wrap: wrap;
  }
  .price li {
    width: 50%;
  }
}

@media (max-width: 670px) {
  .pricing {
    padding: 0px;
    margin: 0;
  }
  .header-pricing {
    font-size: 10px;
  }
  .price {
    flex-direction:column;
  }
  
  .price li {
    margin :0 auto;
    margin-bottom: 5px;
    height: 500px;
    width: 90%;
  }
  .register {
    width: 100%;
  }
}

/* FOOTER */
footer {
  position: relative;
  width: 100%;
  height: 50px;
}

.footer-container {
  max-width: 100%;
  margin-left: 150px;
  margin-right: 250px;
}

.footer-copy{
  float: left;
}

.footer-sosmed{
  float: right;
}

.footer-ul {
  display: flex;
}

.footer-ul li{
  padding-left: 20px;
  padding-right: 20px;
}
